@model FCK.Studio.Core.Articles
@{
    ViewBag.Title =Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@(Model.Title)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @(Html.Raw(Model.Contents))
    </div>
    <div class="card-footer">
        <small><i class="fa fa-clock-o"></i> @(Model.UpdateTime) <i class="fa fa-pencil"></i> @(Model.Author)</small>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.card-body img').addClass("img-responsive");
        });
    </script>
}

