
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>联系我们</h2>
            <p>兴塘社区是我们共同的家园，在兴塘、爱兴塘、惠兴塘是我们兴塘人的行为准则，一起为兴塘美好的未来奉献一点一滴，哪怕是一个小小的建议也足以证明您的一份真心！</p>
            <address>
                <strong>无锡市锡山区东北塘街道兴塘社区事务工作站.</strong><br>
                东方天郡94单元二楼兴塘社区服务中心<br>
                <abbr title="Phone">电话 ：0510-88301700，0510-83775583</abbr> 
            </address>
        </div>
    </div>
</div>

