
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>联系我们</h2>
            <p>兴塘社区是我们共同的家园，在兴塘、爱兴塘、惠兴塘是我们兴塘人的行为准则，一起为兴塘美好的未来奉献一点一滴，哪怕是一个小小的建议也足以证明您的一份真心！</p>
            <address>
                <strong>江苏省无锡市锡山区东北塘街道兴塘社区管委会.</strong><br>
                1355 Market Street, Suite 900<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">Tel:</abbr> 0510-87880959
            </address>
        </div>
    </div>
</div>

