@model FCK.Studio.Core.Articles
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@(Model.Title)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p>@(Html.Raw(Model.Contents))</p>
        <p>
            @if (Model.Category.CategoryName == "办事流程")
            {
                <a href="/Activity/Bespeak/@(Model.Id)" class="btn btn-success">我要预约</a>
            }
            else if (Model.Category.CategoryName == "志愿服务" || Model.Category.CategoryName == "活动报名")
            {
                <a href="/Activity/SignUp/@(Model.Id)" class="btn btn-primary">我要报名</a>
            }
        </p>

    </div>
    <div class="card-footer">
        <small>
            责任编辑：@(Model.Author). @(Model.Category.CategoryName) 发布时间：@(Model.CreationTime.ToString("yyyy-MM-dd hh:mm:ss")) 
        </small>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.card-body img').addClass("img-responsive");
        });
    </script>
}

