
@{
    ViewBag.Title = "兴塘社区网站";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.Action("_PartialArticles", "Home", new { page = 1, pageSize = 0, catename = "新闻活动", orderindex = "timedesc", isrec = 1 })
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">更多 &rarr;</a>
            </div>
        </div>
    </div>
</div>

