
@{
    ViewBag.Title = "兴塘荟";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <a href="/Home/About" class="winblock">
                社区概况
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">            
            <a href="/Home/Service" class="winblock">
                办事流程
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">            
            <a  href="/Home/About" class="winblock">
                志愿服务
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">            
            <a  href="/Home/" class="winblock">
                党建生活
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">            
            <a  href="/Home/Feedback" class="winblock">
                建言献策
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">            
            <a  href="/Live/" class="winblock">
                本地生活
            </a>
        </div>
    </div>
</div>

