
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/">用户登录</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body" id="formEdit">
                <p class="login-box-msg">注册登录自己的账号</p>
                <form action="/Home/Login" method="post">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" v-model="UserName" placeholder="用户名/邮箱">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" v-model="Password" placeholder="6~12位密码">
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox">  记住我
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" v-on:click="dosubmit">登录</button>
                        </div>
                    </div>
                </form>
                <hr />
                <a href="/Home/ForgetPsw" class="btn btn-link">忘记密码？</a>
                <a href="/Home/Regist" class="btn btn-link">用户注册</a>
                <div class="social-auth-links text-center mb-3">
                    <a href="/Home/LoginHouse" class="btn btn-block btn-default">
                        <i class="fa fa-user-plus mr-2"></i>户籍登录
                    </a>
                    <a href="#" class="btn btn-block btn-success" style="display:none">
                        <i class="fa fa-weixin mr-2"></i> 微信登录
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var mydata = {
            UserName: null,
            Password: null
        }
        var vm = new Vue({
            el: "#formEdit",
            data: mydata,
            methods: {
                dosubmit: function () {
                    $.ajax({
                        url: '/Home/DoLogin',
                        type: "POST",
                        data: mydata,
                        success: function (data) {
                            if (data.code == 100) {
                                toastr.success("登录成功");
                                var returnHref = localStorage.getItem("loginReturn");
                                if (returnHref != null) {
                                    window.location = returnHref;
                                }
                                else {
                                    window.location = "/Member/";
                                }
                            }
                            else
                                toastr.error(data.message);
                        }
                    });
                    return false;
                }
            }
        })
        $(function () {
        });
    </script>
}




