
@{
    ViewBag.Title = "用户注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="register-box">
    <div class="card">
        @*<div class="card-header">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="form-check">
                        <input class="form-check-input" name="regtype" type="radio" value="1" id="RegHJ" checked> 户籍注册
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="form-check">
                        <input class="form-check-input" name="regtype" type="radio" id="RegUser" value="0"> 用户注册
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card-body register-card-body" id="formEdit">
            <form action="/Home/DoRegist" method="post">
                <div class="form-group reghj">
                    <select class="form-control Community" v-model="Member.Community">
                        <option value="0">==请选择社区==</option>
                        <option v-for="option in CommunityList" v-bind:value="option.CategoryIndex">{{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group reghj">
                    <select class="form-control Apartment" v-model="Member.Apartment">
                        <option value="0">==请选择小区==</option>
                        <option v-for="option in ApartmentList" v-bind:value="option.CategoryIndex">{{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group reghj">
                    <input type="text" class="form-control Building" placeholder="几号楼/几栋">
                </div>
                <div class="form-group reghj">
                    <input type="text" class="form-control DoorNum" placeholder="户主门牌号">
                </div>
                <div class="form-group reghj">
                    <input type="text" class="form-control" v-model="Member.TrueName" placeholder="户主姓名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="Member.UserName" placeholder="用户名">
                </div>
                <div class="form-group reghj">
                    <input type="text" class="form-control" v-model="Member.UserID" placeholder="身份证号">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="Member.Mobile" placeholder="手机号码">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-info btn-flat" v-on:click="SendVeryCode" id="SendVeryCode">发送验证码</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="Member.Phone2" placeholder="输入验证码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="Member.Password" placeholder="密码">
                </div>
                <div class="form-group">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="iAgree"> 我同意 <a href="/Home/About?tit=兴塘社区微信平台使用协议">兴塘社区微信平台使用协议</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block " v-on:click="dosubmit">确定</button>
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-success" style="display:none">
                    <i class="fa fa-weixin mr-2"></i>
                    微信账号注册
                </a>
                <a href="/Home/Login" class="btn btn-block btn-danger">
                    <i class="fa fa-user mr-2"></i>
                    我已经是会员
                </a>
            </div>
        </div>
    </div>
</div>
@section css{
    <style>
        .reghj{display:none}
    </style>
    }
@section scripts{
    <script>
        var regtype = "User";
        var mydata = {
            Member: {},
            CommunityList: [],
            ApartmentList: []
        }
        var vm = new Vue({
            el: "#formEdit",
            data: mydata,
            methods: {
                dosubmit: function () {
                    mydata.Member.Email = '00';
                    mydata.Member.UserID = "00";
                    if ((mydata.Member.TrueName == "" || mydata.Member.TrueName == null) &&  regtype == "HJ") {
                        toastr.error("户主姓名必填"); return false;
                    }
                    if (mydata.Member.UserName == "" || mydata.Member.UserName == null) {
                        toastr.error("用户名必填"); return false;
                    }
                    if ((mydata.Member.UserID == "" || mydata.Member.UserID == null) && regtype == "HJ") {
                        toastr.error("身份证号必填"); return false;
                    }
                    if (mydata.Member.Email == "" || mydata.Member.Email == null) {
                        toastr.error("邮箱必填"); return false;
                    }
                    if (mydata.Member.Password == "" || mydata.Member.Password == null) {
                        toastr.error("密码必填"); return false;
                    }
                    if (!$("#iAgree").prop("checked")) {
                        toastr.error("请认真阅读兴塘社区微信平台使用协议"); return false;
                    }
                    $.ajax({
                        url: '/Home/DoRegist',
                        type: "POST",
                        data: mydata.Member,
                        success: function (data) {
                            if (data.code == 100)
                                toastr.success('恭喜你，注册成功！');
                            else
                                toastr.error(data.message);
                        }
                    });
                    return false;
                },
                SendVeryCode: function () {
                    if (mydata.Member.Mobile == "" || mydata.Member.Mobile == null) {
                        toastr.error("请输入手机号"); return false;
                    }
                    $("#SendVeryCode").text("验证中...");
                    $("#SendVeryCode").attr("disabled", true);
                    $.post('/Home/SendVeryCode', { mobile: mydata.Member.Mobile }, function (response) {
                        if (response.code == 100) {
                            toastr.success('发送成功！');
                        }
                        else {                            
                            toastr.error(response.message);
                        }
                        $("#SendVeryCode").text("发送验证码");
                        $("#SendVeryCode").attr("disabled", false);
                    });
                }
            }
        })
        $(function () {
            $.post('/Home/GetMember', { id: 0 }, function (response) {
                mydata.Member = response;
                mydata.Member.Community = 0;
                mydata.Member.Apartment = 0;
            });
            $.post('/Category/GetTreeList', { layout: 'Zone', parentcate: '东北塘街道' }, function (response) {
                mydata.CommunityList = response.datas;
            });

            $('.Community').on('change', function () {
                $.post('/Category/GetTreeList', { layout: 'Zone', parentcate: $(this).val() }, function (response) {
                    mydata.ApartmentList = response.datas;
                });
            });

            $("#RegUser").click(function () {
                $(".reghj").hide();
                mydata.Member.UserID = "00";
                regtype = "User";
            });
            $("#RegHJ").click(function () {
                $(".reghj").show();
                mydata.Member.UserID = "";
                regtype = "HJ";
            });
        });
    </script>
}

