@model List<FCK.Studio.Core.Articles>
@{
    ViewBag.Title = "办事流程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-warning card-outline">
                        <div class="card-header">
                            <h3 class="card-title">@item.Title</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>@item.Intro</p> <a href="/Home/Detail/@item.Id" class="btn btn-success btn-sm">我要预约</a>
                        </div>
                    </div>
                    
                </div>
            }
        </div>
    </div>
</section>
