
@{
    ViewBag.Title = "选举投票";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="/Home/"><span class="fa fa-home"></span> 首页</a></li>
            <li class="breadcrumb-item active">选举投票</li>
        </ol>
        <div class="clearfix"></div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-body" id="DataList">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12" v-for="item in ElectionHdList">
                    <div class="info-box bg-success" v-on:click="dovote(item.Id)">
                        <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{item.Title}}</span>
                            <span class="info-box-number">参选人数：{{item.CandiNum}}，必选人数：{{item.VoteNum}}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                {{item.CreationTime}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var mydata = {
            ElectionHdList: []
        }
        var vm = new Vue({
            el: "#DataList",
            data: mydata,
            methods: {
                dovote: function (_id) {
                    window.location.href = '/Election/Detail/' + _id;
                }
            }
        })
        $(function () {
            $.post('/Election/GetVoteItems', { page: 1, pageSize: 0 }, function (response) {
                mydata.ElectionHdList = response.datas;
            });
        });
    </script>
}

