<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        内容编辑
        <small>Article Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">内容管理</a></li>
        <li class="active">内容编辑</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary" id="formArticleEdit">
        <div class="box-header with-border">
            <h3 class="box-title">文章编辑</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="ParentId">所属分类</label>
                    <select class="form-control" v-model="Article.CategoryId">
                        <option v-for="option in Category" v-bind:value="option.Id">{{option.PrevStr}} {{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Title">标题</label>
                    <input type="text" class="form-control" v-model="Article.Title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="Keywords">关键词</label>
                    <input type="text" class="form-control" v-model="Article.Keywords" placeholder="Enter Keywords">
                </div>
                <div class="form-group">
                    <label for="Tags">标签</label>
                    <input type="text" class="form-control" v-model="Article.Tags" placeholder="Enter Tags">
                </div>
                <div class="form-group">
                    <label for="Author">作者</label>
                    <input type="text" class="form-control" v-model="Article.Author" placeholder="Enter Author">
                </div>
                <div class="form-group">
                    <label for="Intro">简介</label>
                    <textarea class="form-control" v-model="Article.Intro" placeholder="add multiple lines"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <img :src="Article.Images" class="img-rounded" height="50" />
                    </div>
                    <div class="col-sm-9">
                        <input type="hidden" v-model="Article.Images">
                        <input type="file" id="fileUpload" name="fileUpload" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="Article.IsRecommend"> 推荐
                    </label>
                    <label>
                        <input type="checkbox" v-model="Article.IsHot"> 热
                    </label>
                    <label>
                        <input type="checkbox" v-model="Article.IsTop"> 置顶
                    </label>
                </div>
                <vue-html5-editor :content="Article.Contents" :height="300" ref="editor" v-model="Article.Contents" v-on:change="updateData"></vue-html5-editor>
                <div class="form-group">
                    <label for="LinkUrl">外部链接</label>
                    <input type="text" class="form-control" v-model="Article.LinkUrl" placeholder="Enter LinkUrl">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" v-model="Article.Id">
                <input type="hidden" v-model="Article.CreationTime">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">发布</button>
                <button type="button" class="btn btn-default" v-on:click="doback">返回</button>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
<script>

    var _Id = localStorage.PageId == null ? 0 : localStorage.PageId;
    $.post('/Articles/GetModelWithCategory', { id: _Id }, function (response) {
        Vue.use(VueHtml5Editor, {
            showModuleName: false
        })
        var vm = new Vue({
            el: "#formArticleEdit",
            data: function () { return response },
            methods: {
                updateData: function (data) {
                    response.Article.Contents = data;
                },
                initUpload:function(){
                    $("#fileUpload").pekeUpload({
                        onSubmit: false,
                        maxSize: 1,
                        theme: 'bootstrap',
                        btnText: "选择图片...",
                        url: "/ashx/upload.ashx",
                        showErrorAlerts: false,
                        showFilename:false,
                        allowedExtensions: "jpeg|jpg|png|gif",
                        onFileError: function (file, error) {
                            toastr.error("error on file: " + file.name + " error: " + error + "")
                        },
                        onFileSuccess: function (file, data) {
                            toastr.success("上传成功");
                            response.Article.Images = data.url;
                        }
                    });
                },
                dosubmit: function () {
                    response.Article.Contents = escape(response.Article.Contents);
                    $.ajax({
                        url: '/Articles/InsertOrUpdate',
                        type: "POST",
                        data: response.Article,
                        success: function (data) {
                            toastr.success('保存成功！');
                        }
                    });
                    return false;
                },
                doback: function () {
                    getURL('/Articles/', 'content-wrapper');
                }
            }
        })
        vm.initUpload();
    });
   
    
</script>
