<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        内容管理
        <small>Article Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">内容管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">所有内容</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DataTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>分类</th>
                                <th>作者</th>
                                <th>更新时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in mydata">
                                <td>{{item.Title}}</td>
                                <td>{{item.Category.CategoryName}}</td>
                                <td>{{item.Author}}</td>
                                <td><small>{{item.UpdateTime}}</small></td>
                                <td><small>{{item.CreationTime}}</small></td>
                                <td>
                                    <a class="btn btn-danger btn-xs" href="#" v-on:click="udelete(item.Id)">删除</a>
                                    <a class="btn btn-primary btn-xs" href="#" v-on:click="updateu(item.Id)">编辑</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>标题</th>
                                <th>分类</th>
                                <th>作者</th>
                                <th>更新时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
</section>
<!-- /.content -->

@section scripts{

}
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $.post('/Articles/GetLists', { page: 1, pageSize: 0 }, function (response) {            
            var vm = new Vue({
                el: '#DataTable',
                data: {
                    mydata: response.datas
                },
                methods: {
                    initDatas: function () {
                        //setDataTable('DataTable');
                        $('#DataTable').dataTable({
                            "order": [[3, "desc"]],
                            'language': DataTableLanguage
                        });
                    },
                    udelete: function (_id) //删除
                    {
                        confirmE('确定删除？', function () {
                            $.ajax({
                                url: '/Articles/Del',
                                type: "POST",
                                data: { id: _id },
                                success: function (resp) {
                                    $.alert('删除成功!');
                                    getURL('/Articles/', 'content-wrapper');
                                }
                            });
                        });
                    },
                    updateu: function (_id) //更新
                    {
                        localStorage.PageId = _id;
                        getURL('/Articles/Edit', 'content-wrapper');
                    }
                }
            });
            vm.initDatas();
        });
        
    })
</script>
