@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        内容管理
        <small>Article Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">内容管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="oplug">
    <div class="box">
        <div class="box-header  with-border">
            <div class="btn-group">
                <a href="/Articles/Edit/0" class="btn btn-success  btn-sm"><i class="fa fa-plus"></i> 添加内容</a>
                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> 删除</button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <div class="box-tools">
                <div class="input-group" style="width:180px">
                    <input type="text" class="form-control" name="keywords" placeholder="keywords">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" onclick="GetDataList()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>            
            <input type="hidden" value="1" id="pageindex" />
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="mLoading">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>分类</th>
                        <th>推荐</th>
                        <th>更新时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in datas.mydata">
                        <td>{{item.Id}}</td>
                        <td>{{item.Title}}</td>
                        <td>{{item.Category.CategoryName}}</td>
                        <td><a v-bind:class="item.IsRecommend? 'badge bg-green' : 'badge bg-red'" v-on:click="recommend(item.Id)">{{item.IsRecommend}}</a></td>
                        <td><small>{{item.UpdateTime}}</small></td>
                        <td><small>{{item.CreationTime}}</small></td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="#" v-on:click="udelete(item.Id)">删除</a>
                            <a class="btn btn-primary btn-xs" href="#" v-on:click="updateu(item.Id)">编辑</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box-footer clearfix">        
        <ul class="pagination pagination-sm no-margin pull-right">
            <li v-bind:class="datas.pageindex<=1? 'hidden' : ''"><a href="#" onclick="turnpage(-1)">&laquo;</a></li>
            <li v-for="value in datas.pages" v-bind:class="value==datas.pageindex? 'active' : ''"><a href="#" v-on:click="chgpage(value)">{{value}}</a></li>
            <li v-bind:class="datas.pageindex==datas.totalpages? 'hidden' : ''"><a href="#" onclick="turnpage(1)">&raquo;</a></li>
        </ul>
    </div>
</section>
<!-- /.content -->
@section css{
    <link href="/Content/bower_components/jquery.mloading-master/src/jquery.mloading.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Content/bower_components/jquery.mloading-master/src/jquery.mloading.js"></script>
    <script>
        oplug.datas = {
            mydata: [],
            pages: 0,
            totalpages: 0,
            pageindex: 1
        }       
        oplug.onInit()
        var udelete= function (_id)
        {
            oplug.confirm('确定删除？', function () {
                oplug.request({
                    url: '/Articles/Del',
                    datas: { id: _id },
                    success: function (resp) {
                        oplug.alert('删除成功!');
                    }
                })
            })
        }
        var updateu = function (_id) 
        {
            window.location = '/Articles/Edit/' + _id;
        }
        var recommend = function (_id) {
            oplug.request({
                url: '/Articles/Recommend',
                datas: { ids: _id },
                success: function (response) {
                    if (response.code == 100) {
                        GetDataList();
                    }
                    else
                        oplug.alert(response.message);
                }
            })
        }
        var chgpage = function (p) {
            $('#pageindex').val(p);
            GetDataList();
            return false;
        }

        GetDataList();

        function GetDataList() {
            $("#mLoading").mLoading("show");
            var _page = parseInt($('#pageindex').val())
            var _keywds = $('input[name=keywords]').val()
            oplug.request({
                url: '/Articles/GetPageLists',
                async: true,
                datas: { page: _page, pageSize: 10, keywords: _keywds },
                success: function (response) {
                    oplug.datas.mydata = response.datas;
                    oplug.datas.totalpages = response.pages;
                    oplug.datas.pages = response.pages > 10 ? 10 : response.pages;
                    oplug.datas.pageindex = _page;
                    $("#mLoading").mLoading("hide");
                }
            })
        }
        function turnpage(val) {
            var p = parseInt($('#pageindex').val());
            p = p + val;
            $('#pageindex').val(p);
            GetDataList();
            return false;
        }
    </script>
}