.w40{
    width:40px !important;
}
.w60{
    width:60px !important;
}
.w80{
    width:80px !important;
}
.w100{
    width:100px !important;
}
.w120{
    width:120px !important;
}
.EditTable input{
    border:0px !important;
    padding:2px  !important;
    line-height:20px !important;
    height:auto;
}
.EditTable th {
    font-size:12px  !important;
    border:1px solid #ccc !important;
}
.EditTable td {
    border:1px solid #ccc !important;
    padding:2px  !important;
}
.m-block{
    display:block;
}
.pagination span{
    cursor:pointer
}

