
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<section class="content-header">
    <h1>
        房屋管理
        <small>House Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">房屋管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="box-header">
                <div class="btn-group">
                    <a href="/Houses/Edit/0" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="新建"><i class="fa fa-file"></i></a>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="保存" onclick="PatchSave()"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="刷新" onclick="GetDataList()"><i class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="导入"><i class="fa fa-upload" data-toggle="modal" data-target="#modal-default"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="导出" onclick="ExportExcel()"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="删除" onclick="PatchDel()"><i class="fa fa-remove"></i></button>
                </div>
                <div class="box-tools">
                    
                </div>
                <hr />
                <form class="form-inline">
                    <div class="form-group">
                        <label for="Apartment">社区</label>
                        <select id="Community" class="form-control input-sm w100">
                            <option value="">请选择</option>
                            <option value="兴塘社区">兴塘社区</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Apartment">楼盘</label>
                        <select id="Apartment" class="form-control input-sm w100">
                            <option value="">请选择</option>
                            <option value="东方天郡花园">东方天郡花园</option>
                            <option value="恒大御澜湾">恒大御澜湾</option>
                            <option value="金瑚湾世家">金瑚湾世家</option>
                            <option value="玫瑰香堤">玫瑰香堤</option>
                            <option value="花海家园">花海家园</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="UnitNum w80">单元</label>
                        <input type="text" class="form-control w80 input-sm" name="UnitNum">
                    </div>
                    <div class="form-group">
                        <label for="DoorCard">门牌号</label>
                        <input type="text" class="form-control w80 input-sm" name="DoorCard">
                    </div>
                    <div class="form-group">
                        <label for="HouseType">属性</label>
                        <select class="form-control w80 input-sm" name="HouseType" id="HouseType">
                            <option value="">全部</option>
                            <option value="住宅">住宅</option>
                            <option value="商铺">商铺</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Owner">产权人</label>
                        <input type="text" class="form-control w80 input-sm" name="Owner">
                    </div>
                    <div class="form-group">
                        <label for="ShortChar1">网格名称</label>
                        <input type="text" class="form-control w80 input-sm" name="ShortChar1">
                    </div>
                    <div class="form-group">
                        <label for="ShortChar2">网格员</label>
                        <input type="text" class="form-control w80 input-sm" name="ShortChar2">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control w100 input-sm" name="keywords" placeholder="keywords">
                    </div>
                    <input type="hidden" value="1" id="pageindex" />
                    <button type="button" class="btn btn-primary btn-sm" onclick="DoSearch()"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="DataTable">
                <div class="box-body table-responsive no-padding EditTable">
                    <div class="loading"></div>
                    <table class="table table-hover">
                        <thead>
                        <tr class="bg-gray-light">
                            <th class="text-center"><input type="checkbox" id="SelectAll"></th>
                            <th>社区名称</th>
                            <th>楼盘名称</th>
                            <th>单元号</th>
                            <th>门牌号</th>
                            <th></th>
                            <th>房屋属性</th>
                            <th>房屋面积</th>
                            <th>销售状态</th>
                            <th>已建未建</th>
                            <th>产权所有人1</th>
                            <th>产权所有人2</th>
                            <th>产权所有人3</th>
                            <th>产权所有人4</th>
                            <th>产权所有人5</th>
                            <th>是否户籍户</th>
                            <th>网格名称</th>
                            <th>网格员</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr v-for="item in mydata" v-on:click="listenedit(item)" class="">
                            <td><div class="w40 text-center"><input type="checkbox" name="obj" class="orm-check-input"  v-bind:value="item.Id" ></div></td>
                            <td>
                                <input type="text" class="form-control input-sm w60" v-model="item.Category.CategoryName" disabled />
                            </td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.HouseName" /></td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.UnitNum" /></td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.DoorCard" /></td>
                            <td>
                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-House" v-on:click="sethouse(item.HouseName,item.UnitNum,item.DoorCard)">户籍</a>
                            </td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.HouseType" disabled /></td>
                            <td><input type="text" class="form-control input-sm w80" v-model="item.HouseArea" /></td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.SaleStatus" /></td>
                            <td><input type="text" class="form-control input-sm w80" v-model="item.BuildStatus" /></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.Owner" /></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.Owner2" /></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.Owner3" /></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.Owner4" /></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.Owner5" /></td>
                            <td><div class="w80 text-center"><input type="checkbox" class="form-check-input" v-model="item.HhdRegister"></div></td>
                            <td><input type="text" class="form-control input-sm w100" v-model="item.ShortChar1" /></td>
                            <td><input type="text" class="form-control input-sm w60" v-model="item.ShortChar2" /></td>
                            <td><input type="text" class="form-control input-sm w80" v-model="item.Memo" /></td>
                            <td>
                                <div class="btn-group w80">
                                    <button class="btn btn-danger btn-xs" type="button" v-on:click="udelete(item.Id)">删除</button>
                                    <button class="btn btn-success btn-xs" type="button" v-on:click="update(item)">保存</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <select onchange="selpage(this.value)">
                        <option v-for="value in totalpages" v-bind:value="value">{{value}}</option>
                    </select> 页码：{{pageindex}}/{{totalpages}} 有 {{needUpdate}}个需要更新
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li v-bind:class="pageindex<=1? 'hidden' : ''"><span onclick="turnpage(-1)">&laquo;</span></li>
                        <li v-for="value in pages" v-bind:class="value==pageindex? 'active' : ''"><span v-on:click="chgpage(value)">{{value}}</span></li>
                        <li v-bind:class="pageindex==totalpages? 'hidden' : ''"><span onclick="turnpage(1)">&raquo;</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-footer">

        </div>
    </div>
</section>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">导入</h4>
            </div>
            <div class="modal-body">
                <iframe frameborder="0" scrolling="no" style="width:100%; height:240px" src="/Members/ImportHouse/" id="WinEdit"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-House">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="HouseTit">户籍信息</h4>
            </div>
            <div class="modal-body">
                <iframe frameborder="0" scrolling="yes" style="width:100%; height:240px" src="/Houses/HouseMembers/" id="HouseHref"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
@section css{
    <link href="/Content/Site.css?v=@(DateTime.Now.ToString("hhmmss"))" rel="stylesheet" />
    <link href="/Content/bower_components/jquery.mloading-master/src/jquery.mloading.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Content/bower_components/jquery.mloading-master/src/jquery.mloading.js"></script>
    <script>
        var updateModel = new Array();
        var vm = new Vue({
            el: '#DataTable',
            data: {
                mydata: [],
                pages: 0,
                totalpages: 0,
                pageindex: 1,
                needUpdate: 0
            },
            methods: {
                listenedit: function (obj) {
                    var flag = true;
                    $.each(updateModel, function (index, item) {
                        if (obj.Id == item.Id)
                            flag = false;
                    });
                    if (flag)
                        updateModel.push(obj);
                    Vue.set(vm, 'needUpdate', updateModel.length)
                },
                sethouse: function (a1, a2, a3) {
                    $('#HouseTit').text(a1 + "-" + a2 + "号" + a3+"室");
                    $('#HouseHref').attr("src", "/Houses/HouseMembers/" + a1 + "|" + a2 + "|" + a3);
                },
                chgpage: function (p) {
                    $('#pageindex').val(p);
                    GetDataList();
                    return false;
                },
                update: function (entity) {
                    $.ajax({
                        url: '/Houses/InsertOrUpdate',
                        type: "POST",
                        data: entity,
                        success: function (resp) {
                            if (resp.code == 100) {
                                toastr.success("更新成功"); GetDataList();
                            } else {
                                toastr.error(resp.message);
                            }
                        }
                    });
                },
                udelete: function (_id) {
                    confirmE('确定删除？', function () {
                        $.ajax({
                            url: '/Houses/Del',
                            type: "POST",
                            data: { id: _id },
                            success: function (resp) {
                                $.alert('删除成功!');
                                GetDataList();
                            }
                        });
                    });
                }
            }
        })
        function GetDataList() {
            $("#DataTable").mLoading({
                icon: "/Content/easyui/themes/default/images/loading.gif"
            });
            var _page = parseInt($('#pageindex').val())
            var _keys = $('#Community').val()
                    + ',' + $('#Apartment').val()
                    + ',' + $('input[name=UnitNum]').val()
                    + ',' + $('input[name=DoorCard]').val()
                    + ',' + $('#HouseType').val()
                    + ',' + $('input[name=Owner]').val()
                    + ',' + $('input[name=ShortChar1]').val()
                    + ',' + $('input[name=ShortChar2]').val()
                    + ',' + $('input[name=keywords]').val()
            $.post('/Houses/GetPageLists',
                { page: _page, pageSize: 20, keywords: _keys },
                function (response) {
                    Vue.set(vm, 'mydata', response.datas)
                    Vue.set(vm, 'totalpages', response.pages)
                    Vue.set(vm, 'pages', response.pages > 10 ? 10 : response.pages)
                    Vue.set(vm, 'pageindex', _page)
                    $("#DataTable").mLoading("hide");
                });
        }
        function DoSearch() {
            $('#pageindex').val(1);
            GetDataList();
        }
        function turnpage(val) {
            var _page = parseInt($('#pageindex').val());
            _page = _page + val;
            $('#pageindex').val(_page);
            GetDataList();
            return false;
        }
        function selpage(val) {
            $('#pageindex').val(val);
            GetDataList();
            return false;
        }
        GetDataList();
        function PatchSave() {
            var num = 0;
            $.each(updateModel, function (index, item) {
                $.ajax({
                    url: '/Houses/InsertOrUpdate',
                    type: "POST",
                    data: item,
                    async: false,
                    success: function (resp) {
                        if (resp.code == 100) {
                            num++;
                        }
                    }
                });
            })
            if (num > 0) {
                toastr.success("成功更新" + num + "条记录");
                Vue.set(vm, 'needUpdate', 0);
                updateModel = new Array();
                GetDataList();
            }
        }
        function ExportExcel() {
            window.location.href = "/Houses/ExportExcel";
        }
        function PatchDel() {
            confirmE('确定删除？', function () {
                var _ids = [];
                $("#DataTable input[name=obj]").each(function () {                    
                    if ($(this).prop("checked")) {
                        _ids.push($(this).val());
                    }
                });
                if (_ids.length <= 0)
                    alertE("至少选择一项！");
                else {
                    $.ajax({
                        url: '/Houses/DelPatch',
                        type: "POST",
                        data: { ids: _ids },
                        success: function (resp) {
                            $.alert('删除成功!');
                            GetDataList();
                        }
                    });
                }
            });
        }
    </script>
}




