
@{
    ViewBag.Title = "活动报名登记";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <form>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="党员"> 党员
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="社工"> 社工
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="义工"> 义工
            </label>
        </div>
        <div class="form-group">
            <label for="UserName">姓名</label>
            <input type="text" class="form-control" id="UserName" placeholder="Your name">
        </div>
        <div class="form-group">
            <label for="Address">联系地址</label>
            <input type="text" class="form-control" id="Address" placeholder="XXX街道 XXX社区 XXX小区 X栋X号">
        </div>
        <div class="form-group">
            <label for="Telphone">联系电话</label>
            <input type="tel" class="form-control" id="Telphone" placeholder="Your Telphone">
        </div>
        
        <div class="form-group">
            <label for="Email">电子邮件</label>
            <input type="email" class="form-control" id="Email" placeholder="Your email">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
