@model FCK.Studio.Core.Articles
@{
    ViewBag.Title = "活动报名";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <form id="formEdit">
        <div class="form-group">
            <label for="BespeakEvent">报名事项</label>
            <input type="text" class="form-control" id="BespeakEvent"  v-model="ActvTitle" readonly="readonly">
        </div>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="党员" v-model="PoliticalStatus"> 党员
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="社工" v-model="PoliticalStatus"> 社工
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="义工" v-model="PoliticalStatus"> 义工
            </label>
        </div>
        <div class="form-group">
            <label for="UserName">姓名</label>
            <input type="text" class="form-control" id="UserName" v-model="UserName" placeholder="Your name">
        </div>
        <div class="form-group">
            <label for="Address">联系地址</label>
            <input type="text" class="form-control" id="Address" v-model="Address" placeholder="XXX街道 XXX社区 XXX小区 X栋X号">
        </div>
        <div class="form-group">
            <label for="Telphone">联系电话</label>
            <input type="tel" class="form-control" id="Telphone" v-model="Telphone" placeholder="Your Telphone">
        </div>

        <div class="form-group">
            <label for="Email">电子邮件</label>
            <input type="email" class="form-control" id="Email" v-model="Email" placeholder="Your email">
        </div>
        <input type="hidden" v-model="ActvID">
        <button type="button" class="btn btn-primary" v-on:click="dosubmit">提交</button>
    </form>
</div>
@section scripts{
    <script>
    $(function () {
        $.post('/Activity/GetModel/', { id: 0 }, function (response) {
            response.ActvID = '@Model.Id';
            response.ActvTitle = '@Model.Title';
            var vue = new Vue({
                el: "#formEdit",
                data: function () { return response },
                methods: {
                    dosubmit: function () {
                        if (response.UserName == "")
                        {
                            alert('姓名必填'); $('#UserName').focus();
                        }
                        else
                        {
                            $.ajax({
                                url: '/Activity/InsertOrUpdate',
                                type: "POST",
                                data: response,
                                success: function (data) {
                                    if (data.code == 100) {
                                        alert('报名成功！感谢您的热心参与。');
                                    }
                                    else if (data.code == 101) {
                                        alert('不能重复报名。');
                                    }
                                    else {
                                        alert(data.message);
                                    }
                                }
                            });
                        }                        
                        return false;
                    }
                }
            })
        });
    });
    </script>
}




