
@{
    ViewBag.Title = "户籍录改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="/Home/"><span class="fa fa-home"></span> 首页</a></li>
            <li class="breadcrumb-item"><a href="/Member/">会员中心</a></li>
            <li class="breadcrumb-item active">户籍录改</li>
        </ol>
        <div class="clearfix"></div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-body register-card-body" id="formEdit">
            <form action="/Home/DoRegist" method="post">
                <div class="form-group">
                    <label for="Community">所在社区</label>
                    <select class="form-control Community" v-model="Member.Community">
                        <option v-for="option in CommunityList" v-bind:value="option.CategoryIndex">{{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Apartment">所在小区</label>
                    <select class="form-control Apartment" v-model="Member.Apartment">
                        <option v-for="option in ApartmentList" v-bind:value="option.CategoryIndex">{{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Address">详细地址</label>
                    <input type="text" class="form-control Address" v-model="Member.Address" placeholder="第几单元-门牌号">
                </div>
                <div class="form-group">
                    <label for="Address">户主姓名</label>
                    <input type="text" class="form-control" v-model="Member.NickName" placeholder="户主姓名">
                </div>
                <div class="form-group">
                    <label for="UserName">用户名</label>
                    <input type="text" class="form-control" v-model="Member.UserName" placeholder="用户名" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="UserID">身份证号</label>
                    <input type="text" class="form-control" v-model="Member.UserID" placeholder="身份证号">
                </div>
                <div class="form-group">
                    <label for="Email">邮箱</label>
                    <input type="email" class="form-control" v-model="Member.Email" placeholder="邮箱">
                </div>
                <div class="form-group">
                    <label for="Mobile">联系电话</label>
                    <input type="text" class="form-control" v-model="Member.Mobile" placeholder="联系电话">
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary  pull-right" v-on:click="dosubmit">确定</button>
                    </div>                   
                </div>
            </form>
            
        </div>
    </div>
</section>
@section scripts{
    <script>
        var mydata = {
            Member: {},
            CommunityList: [],
            ApartmentList:[]
        }
        var vm = new Vue({
            el: "#formEdit",
            data: mydata,
            methods: {
                dosubmit: function () {
                    $.ajax({
                        url: '/Member/Update',
                        type: "POST",
                        data: mydata.Member,
                        success: function (data) {
                            if (data.code == 100)
                                toastr.success(data.message);
                            else
                                toastr.error(data.message);
                        }
                    });
                    return false;
                }
            }
        })
        $(function () {
            $.post('/Member/GetModel', {}, function (response) {
                mydata.Member = response;
                if (mydata.Member.Community != null) {
                    $.post('/Category/GetTreeList', { layout: 'Zone', parentcate: mydata.Member.Community }, function (response) {
                        mydata.ApartmentList = response.datas;
                    });
                }
            });
            $.post('/Category/GetTreeList', { layout: 'Zone', parentcate: 'DBTJD' }, function (response) {
                mydata.CommunityList = response.datas;
            });

            $('.Community').on('change', function () {
                $.post('/Category/GetTreeList', { layout: 'Zone', parentcate: $(this).val() }, function (response) {
                    mydata.ApartmentList = response.datas;
                });
            });
        });
    </script>
}




