
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<section class="content-header">
    <h1>
        选举编辑
        <small>Election Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">选举编辑</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary" id="formArticleEdit">
        <div class="box-header with-border">
            <h3 class="box-title">候选人</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form role="form" id="formEdit">
            <div class="box-body">
                <div class="form-group">
                    <label for="Candidate">标题</label>
                    <input type="text" class="form-control" v-model="Model.Title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="Candidate">选举人数</label>
                    <input type="text" class="form-control" v-model="Model.CandiNum" placeholder="Enter CandiNum">
                </div>
                <div class="form-group">
                    <label for="Candidate">必选人数</label>
                    <input type="text" class="form-control" v-model="Model.VoteNum" placeholder="Enter VoteNum">
                </div>
                <div class="form-group">
                    <label for="CreationTime">开始时间</label>
                    <input type="text" class="form-control datepicker CreationTime" v-model="Model.CreationTime" placeholder="Enter CreationTime">
                </div>
                <div class="form-group">
                    <label for="EndTime">结束时间</label>
                    <input type="text" class="form-control datepicker EndTime" v-model="Model.EndTime" placeholder="Enter EndTime">
                </div>
                <div class="form-group">
                    <label for="TenantSelect">选举说明</label>
                    <textarea class="form-control" v-model="Model.Intro"></textarea>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">确定</button>
                <a href="/ElectionHD/" class="btn btn-default">返回</a>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
@section css{
    <link rel="stylesheet" href="/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
}
@section scripts{
    <script src="/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/Content/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        var _Id = "@(ViewBag.Id)";
        var mydata = {
            Model: {}
        };
        var vm = new Vue({
            el: "#formEdit",
            data: mydata,
            methods: {
                Init: function () {

                },
                dosubmit: function () {
                    $.ajax({
                        url: '/ElectionHD/InsertOrUpdate',
                        type: "POST",
                        data: mydata.Model,
                        success: function (data) {
                            if (data.code == 100)
                                toastr.success('保存成功！');
                            else
                                toastr.error(data.message);
                        }
                    });
                    return false;
                }
            }
        })

        $(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                language: "zh-CN",
                format: "yyyy/mm/dd"
            });
            $('.CreationTime').on('change', function () {
                mydata.Model.CreationTime = $(this).val();
            })
            $('.EndTime').on('change', function () {
                mydata.Model.EndTime = $(this).val();
            })
            $.post('/ElectionHD/GetModel', { id: _Id }, function (response) {
                mydata.Model = response;
            });
        });
    </script>
}

