@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}
<section class="content-header">
    <h1>
        管理员
        <small>Admins Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">管理员</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary" id="formArticleEdit">
        <div class="box-header with-border">
            <h3 class="box-title">管理员</h3>
        </div>
        <form role="form" id="oplug">
            <div class="box-body">
                <div class="form-group">
                    <label for="LoginName">登录名</label>
                    <input type="text" class="form-control" v-model="datas.Admin.LoginName" placeholder="Enter LoginName">
                </div>
                <div class="form-group" v-if="datas.Admin.Id==0">
                    <label for="Password">密码</label>
                    <input type="password" class="form-control" v-model="datas.Admin.Password" placeholder="Enter Password">
                </div>
                <div class="form-group" v-else>
                    <label for="Password">密码</label>
                    <input type="password" class="form-control" v-model="datas.Admin.Password" placeholder="Enter Password" readonly>
                </div>
                <div class="form-group">
                    <label for="TenantSelect">选择站点</label>
                    <select class="form-control TenantSelect" multiple="multiple">
                        <option v-for="option in datas.Tenants" v-bind:value="option.Id">{{option.TenantName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="PowerSelect">选择权限</label>
                    <select class="form-control PowerSelect" multiple="multiple">
                        <option v-for="option in datas.Powers" v-bind:value="option.Id">{{option.CategoryName}}</option>
                    </select>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" v-model="datas.Admin.Id">
                <input type="hidden" v-model="datas.Admin.Powers">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">确定</button>
                <a href="/Admins/" class="btn btn-default">返回</a>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
@section css{
    <link rel="stylesheet" href="/Content/bower_components/select2/dist/css/select2.min.css">
}
@section scripts{
    <script src="/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script>
        var _Id = "@(ViewBag.Id)";
        oplug.datas = {
            Admin: {},
            Tenants: [],
            Powers: []
        }
        oplug.onInit()

        var dosubmit = function () {
            oplug.request({
                url: '/Admins/InsertOrUpdate',
                async: true,
                datas: oplug.datas.Admin,
                success: function (resp) {
                    if (resp.code == 100)
                        oplug.OK('保存成功！');
                    else
                        oplug.Error(resp.message);
                }
            })
        }
        oplug.post('/Admins/GetModel', { id: _Id }, function (response) {
            oplug.datas.Admin = response
        })
        oplug.request({
            url: '/Categories/GetTreeList',
            async: true,
            datas: { layout: 'Menus' },
            success: function (response) {
                oplug.datas.Powers = response.datas;
            }
        })
        oplug.post('/Tenants/GetLists', { page: 0, pageSize: 0 }, function (response) {
            oplug.datas.Tenants = response.datas            
        })
        oplug.setData(oplug.datas);

        $(function () {
            $('.TenantSelect').select2({
                placeholder: '请选择站点',
                allowClear: true
            });
            if (oplug.datas.Admin.ControlTenants != null)
                $(".TenantSelect").val(oplug.datas.Admin.ControlTenants.split(",")).trigger('change');

            $('.PowerSelect').select2({
                placeholder: '请选择菜单权限',
                allowClear: false
            });
            if (oplug.datas.Admin.Powers != null)
                $(".PowerSelect").val(oplug.datas.Admin.Powers.split(",")).trigger('change');

            $(".TenantSelect").on("change", function (e) {
                oplug.datas.Admin.ControlTenants = $(this).select2("val").join(",");
            })
            $(".PowerSelect").on("change", function (e) {
                oplug.datas.Admin.Powers = $(this).select2("val").join(",");
            })
        });

    </script>
}