<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="FCKStudioDbContext" connectionString="data source=121.41.14.139;initial catalog=FCK_Studio_CMS;Integrated Security=false;User Id=sa;Password=123ck!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>