<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        信息采集内容
        <small>Article Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">信息采集内容</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header  with-border">
            <h3 class="box-title">所有内容</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="DataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>项目标题</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in mydata">
                        <td>{{item.UserName}}</td>
                        <td>{{item.Telphone}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.ActvTitle}}</td>
                        <td><small>{{item.CreationTime}}</small></td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="#" v-on:click="viewd(item.Id)">查看</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>项目标题</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>
<!-- /.content -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $.post('/SignUpBespeak/GetLists', { page: 1, pageSize: 0 }, function (response) {
            var vm = new Vue({
                el: '#DataTable',
                data: {
                    mydata: response.datas
                },
                methods: {
                    initDatas: function () {
                        $('#DataTable').dataTable({
                            "order": [[4, "desc"]],
                            'language': DataTableLanguage
                        });
                    },
                    viewd: function (_id) //更新
                    {
                        localStorage.PageId = _id;
                        getURL('/SignUpBespeak/Edit', 'content-wrapper');
                    }
                }
            });
            vm.initDatas();
        });
    })
</script>
