@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
} 
<section class="content-header">
    <h1>
        站点管理
        <small>Tenants Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">站点管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary" id="formArticleEdit">
        <div class="box-header with-border">
            <h3 class="box-title">租户管理</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form role="form" id="oplug">
            <div class="box-body">
                <div class="form-group">
                    <label for="TenantName">站点名称</label>
                    <input type="text" class="form-control" v-model="datas.TenantName" placeholder="Enter TenantName">
                </div>
                <div class="form-group">
                    <label for="AppDomain">绑定域名</label>
                    <input type="text" class="form-control" v-model="datas.AppDomain" placeholder="Enter AppDomain">
                </div>
                <div class="form-group">
                    <label for="AppDomain">站点SecretKey</label>
                    <input type="text" class="form-control" v-model="datas.SecretKey" readonly>
                </div>
                <div class="form-group">
                    <label for="WXAppId">微信APPId</label>
                    <input type="text" class="form-control" v-model="datas.WXAppId" placeholder="Enter WXAppId">
                </div>
                <div class="form-group">
                    <label for="WXAppSecret">微信AppSecret</label>
                    <input type="text" class="form-control" v-model="datas.WXAppSecret" placeholder="Enter WXAppSecret">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="datas.IsRoot" class="IsRoot"> 主站点
                    </label>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" v-model="datas.Id">
                <input type="hidden" v-model="datas.CreationTime">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">确定</button>
                <a href="/Tenants/" class="btn btn-default">返回</a>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
@section scripts{
<script>
    var _Id = "@(ViewBag.Id)";
    oplug.onInit()
    var dosubmit = function () {
        oplug.request({
            url: '/Tenants/InsertOrUpdate',
            async: true,
            datas: oplug.datas,
            success: function (data) {
                if (data.code == 100)
                    toastr.success('保存成功！');
                else
                    toastr.error(data.message);
            }
        });
        return false;
    }
    oplug.post('/Tenants/GetModel', { id: _Id }, function (response) {
        oplug.datas = response;
        oplug.setData(response);
    });
    $('input[type="checkbox"].IsRoot').on('ifChanged', function (event) {
        oplug.datas.IsRoot = $(this).is(":checked");
    });
</script>
}