<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2016-2018 <a href="http://www.oplug.cn" target="_blank">Oplug.cn</a>.</strong> All rights
    reserved.
</footer>
