<section class="content-header">
    <h1>
        内容管理
        <small>Article Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">内容管理</li>
    </ol>
</section>