@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}  
<section class="content-header">
    <h1>
        分类管理
        <small>Category Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">分类管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary" id="oplug">
        <div class="box-header with-border">
            <h3 class="box-title">分类管理</h3>
        </div>        
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="ParentId">上级分类</label>
                    <select class="form-control select2 ParentId" v-model="datas.Category.ParentId" >
                        <option v-for="option in datas.ParentLists" v-bind:value="option.Id">{{option.PrevStr}} {{option.CategoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CategoryName">分类名称</label>
                    <input type="text" class="form-control" v-model="datas.Category.CategoryName" placeholder="Enter CategoryName">
                </div>
                <div class="form-group">
                    <label for="CategoryIndex">分类索引</label>
                    <input type="text" class="form-control" v-model="datas.Category.CategoryIndex" placeholder="Enter CategoryIndex">
                </div>
                <div class="form-group">
                    <label for="Layout">所属模型</label>
                    <input type="text" class="form-control" v-model="datas.Category.Layout" readonly>
                </div>
                <div class="form-group">
                    <label for="Icons">图标</label>
                    <input type="text" class="form-control" v-model="datas.Category.Icons" placeholder="Enter Icons">
                </div>
                <div class="form-group">
                    <label for="LinkUrl">链接</label>
                    <input type="text" class="form-control" v-model="datas.Category.LinkUrl" placeholder="Enter LinkUrl">
                </div>
                <div class="form-group">
                    <label for="Intro">概述</label>
                    <input type="text" class="form-control" v-model="datas.Category.Intro" placeholder="Enter Intro">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="IsHide" v-model="datas.Category.IsHide"> 隐藏
                    </label>
                    <label>
                        <input type="checkbox" class="IsDeleted"  v-model="datas.Category.IsDeleted"> 移除
                    </label>
                </div>
            </div>
            <div class="box-footer">
                <input type="hidden" v-model="datas.Category.Id">
                <button type="button" class="btn btn-primary" v-on:click="dosubmit">确定</button>
                <button type="button" class="btn btn-default" v-on:click="goback">返回</button>
            </div>
        </form>
    </div>
</section>
@section css{
    <link rel="stylesheet" href="/Content/bower_components/select2/dist/css/select2.min.css">
}
@section scripts{
<script src="/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
<script>
    var _Id = "@(ViewBag.Id)";
    var lay = window.localStorage.lay;
    oplug.datas = {
        Category: {},
        ParentLists:[]
    }
    oplug.method = { dosubmit }
    oplug.onInit()
    
    oplug.request({
        url: '/Categories/GetModelWithParents',
        datas: { id: _Id, lay: lay },
        success: function (resp) {
            oplug.datas = resp;
            oplug.datas.Category.Layout = lay;
            oplug.setData(oplug.datas);
        }
    })

    var dosubmit = function () {
        oplug.request({
            url: '/Categories/InsertOrUpdate',
            datas: oplug.datas.Category,
            success: function (resp) {
                if (resp.code == 100)
                    oplug.OK('保存成功！');
                else
                    oplug.Error(resp.message);
            }
        })
    }
    var goback = function () {
        window.location = "/Categories/?lay=" + lay;
    }
    $(function () {
        $('.ParentId').select2().on('change', function () {
            oplug.datas.Category.ParentId = $(this).val();
        })
        $('input[type="checkbox"].IsHide').on('ifChanged', function (event) {
            oplug.datas.Category.IsHide = $(this).is(":checked");
        });
        $('input[type="checkbox"].IsDeleted').on('ifChanged', function (event) {
            oplug.datas.Category.IsDeleted = $(this).is(":checked");
        });
    })
</script>
}