<section class="content-header">
    <h1>
        分类管理
        <small>Category Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">分类管理</li>
    </ol>
</section>