@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPageInner.cshtml";
}  
<section class="content-header">
    <h1>
        分类管理
        <small>Category Manage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">分类管理</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <button class="btn btn-success" onclick="updateu(0)"><i class="fa fa-plus"></i> 添加分类</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed table-hover" id="oplug">
                <tr>
                    <th></th>
                    <th>分类名称</th>
                    <th>分类索引</th>
                    <th>层级</th>
                    <th>所属模型</th>
                    <th style="width: 100px">操作</th>
                </tr>
                <tr v-for="item in datas.lists">
                    <td style="width:30px"><input type="checkbox"  v-bind:value="item.Id" /></td>
                    <td>{{item.PrevStr}} <span v-bind:class="item.Icons"></span> {{item.CategoryName}}</td>
                    <td>{{item.CategoryIndex}}</td>
                    <td>{{item.Level}}</td>
                    <td>{{item.Layout}}</td>
                    <td>
                        <a class="btn btn-danger btn-xs" href="#" v-on:click="udelete(item.Id)">删除</a>
                        <a class="btn btn-primary btn-xs" href="#" v-on:click="updateu(item.Id)">编辑</a>
                    </td>
                </tr>                
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
            
        </div>
    </div>
</section>
@section css{
    <link rel="stylesheet" href="/Content/plugins/iCheck/all.css">
    <link rel="stylesheet" href="/Content/bower_components/select2/dist/css/select2.min.css">
}
@section scripts{
<script src="/Content/plugins/iCheck/icheck.min.js"></script>
<script>
    var _lay = '@(Request.QueryString["lay"])'
    oplug.datas = {
        lists: [],
        total:0
    }
    oplug.onInit()

    var refresh = function () {
        oplug.request({
            url: '/Categories/GetTreeList',
            async: true,
            datas: { layout: _lay },
            success: function (response) {
                oplug.datas.lists = response.datas;
                oplug.datas.total = response.total;
            }
        })
    }
    refresh()

    var udelete = function (_id) //删除
    {
        oplug.confirm('确定删除？', function () {
            oplug.request({
                url: '/Categories/Del',
                datas: { id: _id },
                success: function (resp) {
                    oplug.alert('删除成功!');
                    refresh();
                }
            });
        });
    }
    var updateu = function (_id) {
        window.location = '/Categories/Edit/' + _id;
        oplug.setParam("lay", _lay);
    }
</script>
}